/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #424242;
}

/* utility */
.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* Grid */
.container {
  width: 1400px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-wide {
  width: 1536px;
}

.btn, a.btn {
  display: inline-block;
  min-height: 51px;
  line-height: 51px;
  padding: 0 50px;
  border-radius: 4px;
  background-color: #01996D;
  font-size: 20px;
  color: #fff;
  transition: opacity 0.2s ease-in;
}

.btn:hover, a.btn:hover {
  opacity: 0.8;
  color: #fff;
}

.btn-big, a.btn-big {
  min-height: 65px;
  line-height: 65px;
}

.header {
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid #D6D6D6;
  background-color: #fff;
}

.header-row {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: 172px;
  font-weight: 500;
  color: #292929;
}

.header-nav ul {
  display: flex;
}

.header-nav li + li {
  margin-left: 70px;
}

.header-nav a {
  transition: color 0.2s ease-in;
}

.header-nav a:active,
.header-nav a:hover {
  color: #01996D;
}

.header-login {
  margin-left: auto;
}

.header-login-link {
  color: #000;
  transition: color 0.2s ease-in;
}

.header-login a:hover {
  color: #01996D;
}

.header-login a + a {
  margin-left: 35px;
}

.home {
  position: relative;
  padding: 175px 0;
  min-height: 895px;
  /*padding-bottom: 100px; */
}

.home-content {
  max-width: 440px;
}

.home-heading {
  font-family: "Georgia", serif;
  font-size: 65px;
  font-weight: 700;
  color: #01996D;
}

.home-heading + * {
  margin-top: 30px;
}

.home-text {
  min-width: 430px;
  line-height: 144, 5%;
  color: #484848;
}

.home-text + * {
  margin-top: 53px;
}

.home-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(250, 241, 229);
  z-index: -1;
}

.home-bg-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.how-it-works {
  padding-top: 169px;
  padding-bottom: 51px;
}

.how-it-works-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 52px;
}

.how-it-works-header-head {
  max-width: 584px;
  margin-right: 30px;
}

.how-it-works-title {
  margin-bottom: -3px;
  font-size: 24px;
  font-weight: 600;
  line-height: 157%;
}

.how-it-works-subtitle {
  font-family: "Georgia", serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 157%; /* 78.5px */
  color: #01996D;
}

.how-it-works-header-content {
  max-width: 671px;
  padding-top: 58px;
  font-weight: 500;
  line-height: 150%;
}

.how-it-works-steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, 390px);
  -moz-column-gap: 95px;
       column-gap: 95px;
}

.step {
  max-width: 390px;
}

.step:nth-child(2) {
  padding-top: 287px;
}

.step:nth-child(3) {
  padding-top: 54px;
}

.step-heading {
  position: relative;
  margin-bottom: 55px;
  padding-top: 135px;
  padding-left: 88px;
  font-size: 30px;
  font-family: "Georgia", serif;
  font-weight: 700;
  line-height: 150%; /* 45px */
  color: #000;
}

.step-heading::before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(data-number);
  font-weight: 400;
  font-size: 150px;
  line-height: 150%; /* 45px */
  color: rgba(1, 153, 109, 0.2);
}

.step-text {
  margin-bottom: 60px;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%; /* 30px */
}

.step-image-wrapper {
  position: relative;
  padding-bottom: 126%;
  /* height img / width img: 492 / 390 = 1,26. Padding bottom 126% make img of any size take a correct place. 
  A block will grow up proportionally towards width with an img inside. Padding bottom 100% = width img*/
}

.step-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

.story {
  padding: 229px 0 176px;
  background-color: #245852;
  color: #fff;
}

.story-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.story-content {
  max-width: 580px;
}

.story-heading {
  font-family: "Georgia", serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 157%; /* 78.5px */
}

.story-heading + * {
  margin-bottom: 33px;
}

.story-text {
  font-size: 25px;
  font-weight: 600;
  line-height: 157%; /* 39.25px */
}

.story-text + * {
  margin-top: 57px;
}

.story-video {
  position: relative;
  max-width: 895px;
}

.story-video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.story-video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.product {
  padding-top: 120px;
  padding-bottom: 168px;
}

.product-row {
  display: flex;
  -moz-column-gap: 86.86px;
       column-gap: 86.86px;
}

.product-img-wrapper {
  position: relative;
  padding-left: 60px;
  padding-bottom: 74px;
}

.product-card {
  position: absolute;
  left: 0;
  bottom: 0;
}

.product-img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.product-content {
  max-width: 584px;
}

.product-content-title {
  font-size: 25px;
  font-weight: 600;
  line-height: 157%;
}

.product-content-title + * {
  margin-top: 10px;
}

.product-content-subtitle {
  font-size: 50px;
  font-family: "Georgia", serif;
  font-weight: 700;
  line-height: 157%;
  color: #01996D;
}

.product-content-subtitle + * {
  margin-top: 20px;
}

.product-content-text {
  max-width: 530px;
  line-height: 157%;
  color: #484848;
}

.product-content-text + * {
  margin-top: 40px;
}

.card {
  width: 296px;
  height: 293px;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 20px 30px;
}

.card-title {
  font-size: 14.49px;
  font-weight: 600;
  line-height: 157%; /* 22.749px */
  border-bottom: 0.74px solid #000;
}

.card-contents-title {
  font-family: "Georgia", serif;
  font-size: 15.929px;
  font-weight: 700;
  line-height: 157%; /* 25.009px */
}

.card-avatar {
  margin-bottom: 20px;
}

.avatar-img {
  margin-bottom: 10px;
}

.avatar-name {
  font-size: 11.935px;
  line-height: 157%; /* 18.738px */
}/*# sourceMappingURL=main.css.map */