.btn, a.btn {
    display: inline-block;

    min-height: 51px;
    line-height: 51px;

    padding: 0 50px;
    border-radius: 4px;
    background-color: $green;
    font-size: 20px;
    color: $white;
    transition: opacity 0.2s ease-in;
}

.btn:hover, a.btn:hover {
    opacity: 0.8;
    color: $white;
}

.btn-big, a.btn-big {
    min-height: 65px;
    line-height: 65px;
}