
.card {
    width: 296px;
    height: 293px;
    text-align: center;
    border-radius: 4px;
    background: $white;
    color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 20px 30px;
}


.card-title {
    font-size: 14.49px;
    font-weight: 600;
    line-height: 157%; /* 22.749px */
    border-bottom: 0.74px solid $black;

}

.card-contents-title {
    font-family: $font-secondary;
    font-size: 15.929px;
    font-weight: 700;
    line-height: 157%; /* 25.009px */
}
