.footer {
    background-color: $story-bg;
    color: $white;
    padding: 104px 0 144px;
}


.footer-logo + * {
    margin-top: 74px;
}

.footer-nav {
    font-size: 25px;
    font-weight: 600;
}

.footer-nav li + li {
    margin-top: 60px;
}

.footer-nav a {
    transition: opacity 0.2s ease-in;

    &:hover {
        opacity: 0.8;
    }
}
