@media (max-width: 1399px) {
    .container {
        width: 100%;
    }
}


@media (max-width: 1199px) {
    .header-row {
        justify-content: space-between;
    }

    .header-nav {
        margin-left: 50px;
    }

    .header-nav li + li {
        margin-left: 50px;
    }

    .header-login {
        margin-left: 30px;
    }
}

@media (max-width: 991px) {
    .header-nav,  .header-login {
        display: none;
    }
}