@media (max-width: 1399px) {
    .container {
        width: 100%;
    }

    .how-it-works {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .how-it-works-subtitle {
        font-size: 40px;
        line-height: 1.3;
    }

    .how-it-works-header-content {
        padding-top: 20px;
    }

    .how-it-works-header {
        flex-direction: column;
        padding-bottom: 52px;
    }
}

@media (max-width: 1389px) {
    .step:nth-child(2),
    .step:nth-child(3) {
        padding-top: 0;
    }
}


@media (max-width: 1199px) {
    .header-row {
        justify-content: space-between;
    }

    .header-nav {
        margin-left: 50px;
    }

    .header-nav li + li {
        margin-left: 50px;
    }

    .header-login {
        margin-left: 30px;
    }
}


@media (max-width: 991px) {
    body {
        font-size: 18px;
    }

    .btn {
        min-height: 41px;
        padding: 0 30px;
    }

    .btn-big, 
    a.btn-big {
        min-height: 55px;
        line-height: 55px;
    }

    .header-nav,  .header-login {
        display: none;
    }

    .home {
        padding: 40px 0;
        min-height: unset;
    }

    .home-heading {
        font-size: 45px;
        line-height: 1.2;
    }

    .home-bg-img img {
        opacity: 0.5;
    }
}

@media (max-width: 419px) {
    .how-it-works-steps {
        grid-template-columns: 1fr;
    }
}