.product {
    padding-top: 120px;
    padding-bottom: 168px;
    
}

.product-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.product-img-wrapper{
   position: relative;
   padding-left: 60px;
   padding-bottom: 74px;
}

.product-card {
    position: absolute;
    left: 0;
    bottom: 0;
}


.product-img {
    border-radius: 18px;
}

.product-content {
    max-width: 584px;
}

.product-content-title {
    font-size: 25px;
    font-weight: 600;
    line-height: 157%;
}

.product-content-title + * {
    margin-top: 10px;
}

.product-content-subtitle {
    font-size: 50px;
    font-family: $font-secondary;
    font-weight: 700;
    line-height: 157%;
    color: $green;
}

.product-content-subtitle + * {
    margin-top: 20px;
}

.product-content-text {
    max-width: 530px;
    line-height: 1.45;
    color: $text-grey;

    & + * {
        margin-top: 40px;
    }
}
