.story {
    padding: 229px 0 176px;
    background-color: $story-bg;
    color: $white;
}

.story-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.story-content {
    max-width: 580px;
}

.story-heading {
    font-family: $font-secondary;
    font-size: 50px;
    font-weight: 700;
    line-height: 157%; /* 78.5px */

    & + * {
        margin-bottom: 33px;
    }
}

.story-text {
    font-size: 25px;
    font-weight: 600;
    line-height: 157%; /* 39.25px */

    & + * {
        margin-top: 57px;
    }
}


.story-video {
    position: relative;
    max-width: 895px;
    
}


.story-video-btn {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.story-video-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
}
