body {
    font-family: $font-main;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    line-height: 1.5;
}

/* utility */

.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

/* Grid */

.container {
    width: 1400px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;

    &-wide {
    width: 1536px;
    }
}

